* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  width: 100%;
  position: fixed;
}
header > h1 {
  margin-left: auto;
  margin-right: auto;
}
section {
  padding-top: 6rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pokedex {
  height: 100%;
}
.pokeDisplay {
  position: absolute;
}

.pokeNumber {
  position: absolute;
  left: 600px;
  top: 400px;
}

.pokeNumber::before {
content: "#";
}
.pokeimg {
  position: absolute;
  left: 300px;
  top: 370px;
  width: 300px;
}
.pokeSearch {
  position: absolute;
  left: 300px;
  top: 670px;
}

.pokeInfo {
  position: absolute;
  left: 1200px;
  top: 480px;
  color: aliceblue;
}

.pokeType::before {
  content: "Type: ";
}

.pokeMvs::before {
  content: "Moves: ";
}
